body {
  font-family: sans-serif;
  background-color: white;
}

div{
  padding: 0 0 0 0;
  background-position: right;
  background-repeat: no-repeat;
}

h4{
  font-size: 50px;
}

option{
  width: 500px;
  height: 70px;
  font-size: 30px;
}


#crecetas{
  width: 100%;
  height: 250px;
  margin: auto;
  background-color: #E3E3E3;
  font-family: sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 30px;
}

#recetas{
  width: 500px;
  height: 50px;
  font-size: 25px;
}

#contenedor1{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
}

#contenedor2{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/1.jpg);
  background-position: 470px 390px ;
  background-size: 425px;
}

#contenedor3{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/2.jpg);
  background-position: 560px 360px ;
  background-size: 300px;
}

#contenedor4{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/3.jpg);
  background-position: 450px 390px ;
  background-size: 390px;
}

#contenedor5{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/4.jpg);
  background-position: 440px 300px ;
  background-size: 400px;
}

#contenedor6{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/5.jpg);
  background-position: 580px 540px ;
  background-size: 250px;
}

#contenedor7{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/6.jpg);
  background-position: 480px 250px ;
  background-size: 300px;
}

#contenedor8{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/7.jpg);
  background-position: 450px 300px ;
  background-size: 500px;
}

#contenedor9{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/8.jpg);
  background-position: 540px 330px ;
  background-size: 370px;
}

#contenedor10{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/9.jpg);
  background-position: 490px 310px ;
  background-size: 370px;
}

#contenedor11{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 35px;
  text-align: left;
  background-image: url(fotos/10.jpg);
  background-position: 540px 670px ;
  background-size: 280px;
}

.c1{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -10px;
  background-color: #E3E3E3;
  overflow: hidden;
}

.c2{
  width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: -10px;
  background-color: #FFFF;
}

#cpedidos{
  background-color: #E3E3E3;
  width: 600px;
  height: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  box-shadow: 7px 13px 37px #000;
}

.cajitas{
  width: 570px;
  height: 50px;
  background-color: white;
  margin: 10px;
  font-size: 30px;
}

.cajitas,placeholder{
  font-family: sans-serif;
  font-style: bold;
}

.enviar{
  width: 200px;
  height: 50px;
  margin: 10px;
  font-size: 30px;
  background-color: white;
}

#ccurriculum{
  background-color: white;
  width: 600px;
  height: 375px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  box-shadow: 7px 13px 37px #000;
}

.cajitas2{
  width: 570px;
  height: 50px;
  background-color: #E3E3E3;
  margin: 10px;
  font-size: 30px;
}

.cajitas2,placeholder{
  font-family: sans-serif;
  font-style: bold;
}

.enviar2{
  width: 200px;
  height: 50px;
  margin: 10px;
  font-size: 30px;
  background-color: #E3E3E3;
}

input[type="file"]{
    display: none;
}
.custom-file-upload{
    margin: 10px;
    font-size: 30px;
    background-color: #E3E3E3;
}

::-webkit-input-placeholder{
  color: black;
}

#contacto{
  width: 100%;
  height: 80px;
  margin: auto;
  font-size: 35px;
  background-color: black;
  background-position: center;
  text-align: center;
  color: white;
}

nav ul{
  text-align: right;
  float: right;
  font-size: 50px;
  list-style: none;
}

.respmenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 30px 40px;
  border-bottom: 2px solid #456789;
  max-width: 414px;
  background: black;
  font-variant: small-caps;
  text-shadow: 1px 1px black;
}

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 15px;
  width: 85px;
  height: 70px;
}

.respmenu .fa-bars, .respmenu .fa-times {
  font-size: 70px;
  pointer-events: none;
}

.respmenu input[type="checkbox"] {
  opacity: 0;
}

.respmenu {
  color: white;
  background: black;
  min-height: 100px;
  background-image: url(logo.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 150px;
}

.respmenu nav {
  display: none;
  position: absolute;
  float: right;
  margin-left: 430px;
  margin-top: 50px;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
  display: none;
}
